@charset "UTF-8";
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
  margin: 0;
}

header {
  background-color: #ffe4a7;
  margin: 0;
  text-align: center;
  padding: 5px;
  margin-bottom: 2%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 40px;
}

li {
  background-color: #ffe4a7;
  margin: 10px 0;
  padding: 10px;
  border: 2px solid black;
}

section {
  display: flex;
  margin: 20px 0;
}

aside {
  width: 20%;
  padding: 20px;
  background-color: #f4f4f4;
  border: 2px solid black;
}

main {
  width: 100%;
  height: 100%;
  margin: 0 10px;
  background-color: #f4f4f4;
  border: 1px solid black;
}
main p {
  padding-left: 10px;
}
main textarea {
  padding-top: 10px;
  background-color: #f4f4f4;
  border: none;
  width: 100%;
  height: 600px;
  box-sizing: border-box;
  resize: none;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Times New Roman", Times, serif;
}
@media (max-width: 760px) {
  main textarea {
    height: 200px;
  }
}

.title-note {
  font-size: 1.5rem;
  text-align: left;
  background-color: rgba(128, 128, 128, 0.296);
}
.title-note p {
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.plus-btn {
  background-color: #4CAF50;
  color: white;
  padding: 15px;
  cursor: pointer;
  float: right;
  margin-top: -10px;
}
@media (max-width: 760px) {
  .plus-btn {
    padding: 3px;
    margin-top: 0;
  }
}

.plus-btn:hover {
  background-color: #45a049;
}

.trash-btn {
  background-color: rgba(244, 67, 54, 0);
  color: red;
  border: none;
  padding: 0 6px;
  font-size: 1.2rem;
  float: right;
}

li {
  cursor: pointer;
}

.trash-btn:hover {
  background-color: #ff0000;
  border-radius: 30px;
  color: white;
}

h1 {
  color: #333;
}

#loginForm {
  border: 4px solid gray;
  width: 380px;
  height: auto;
  margin: 0 auto;
  padding: 0 20px;
}
#loginForm .buttonLogin {
  margin: 20px 0 10px 0;
  width: 100%;
  padding: 10px;
  color: white;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  background-color: #4CAF50;
}
#loginForm .buttonLogin:hover {
  background-color: #008a07;
}
#loginForm .buttonCreate {
  background-color: rgba(0, 123, 255, 0.768627451);
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  color: white;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}
#loginForm .buttonCreate:hover {
  background-color: #0055af;
}

.form {
  background-color: #fff;
  border: 10px solid gray;
  padding: 20px;
  border-radius: 5px;
  height: 100%;
  margin: 2% auto;
  display: none;
}
.form .button {
  background-color: rgba(0, 123, 255, 0.768627451);
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  color: white;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}
.form .button:hover {
  background-color: #0055af;
}

.input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.success {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  margin: 10px auto;
  width: 300px;
  border-radius: 5px;
}

/* Estilos para el contenedor de la cuadrícula */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

/* Estilos para cada celda de la cuadrícula */
.gridCell {
  border: 3px solid gray; /* Borde para cada celda */
  border-radius: 5px;
  margin: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  background-color: #ffe4a7;
  padding: 10px; /* Espacio interno en cada celda */
  overflow: hidden; /* Ocultar el contenido que se desborde de la celda */
  white-space: wrap; /* Evitar el retorno de línea en el contenido largo */
  text-overflow: ellipsis; /* Mostrar puntos suspensivos (...) para el contenido que se desborde */
}

/*# sourceMappingURL=style.css.map */
