body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
  margin: 0;
}
header {
 background-color: #ffe4a7;
 margin: 0;
 text-align: center;
 padding: 5px;
 margin-bottom: 2%;
}

ul {  
 list-style-type: none;
 padding: 0; 
 margin-top: 40px;
}

li {
 background-color: #ffe4a7;
 margin: 10px 0;
 padding: 10px;
 border:2px solid black;
}
section {
  display: flex;
  margin: 20px 0; 
}

aside {
  width: 20%;
  padding: 20px;
  background-color: #f4f4f4;
  border:2px solid black;
}

main {
  width: 100%;
  height: 100%;
  margin:0 10px;
  background-color: #f4f4f4;
  border: 1px solid black;
  p{
    padding-left: 10px;
  }
  textarea{
    padding-top: 10px;
    background-color: #f4f4f4;
    border:none;
    width: 100%;
    height: 600px;
    box-sizing: border-box;
    resize: none;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;   
    @media (max-width: 760px){
      height: 200px;
    }

  }
}
.title-note{
  font-size: 1.5rem;
  text-align: left;
  background-color: rgba(128, 128, 128, 0.296);
  p{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }  
}
.plus-btn{
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  float:right;  
  padding: 6%;
  font-size: 1.2rem;
  border: 2px solid black;
  @media (max-width: 760px){
    padding:3px;
    margin-top:0;
  }
}
.plus-btn:hover{
  background-color: #45a04900;
  color: green;
}

.trash-btn {
  background-color: #ff1100;
  color: white;
  cursor: pointer;
  padding: 6%;
  font-size: 1.2rem;
  float:right;
  border: 2px solid black;
  @media (max-width: 760px){
    padding:3px;
    margin-top:0;
  }
}
.buttones{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
li{  
  cursor: pointer;
}

.trash-btn:hover {
  background-color: #ff000000;  
  color: red;
}
h1 {
  color: #333;
}


#loginForm{
  border:4px solid gray;
  width:380px ;
  height:auto;
  margin: 0 auto;
  padding: 0 20px;  
  .buttonLogin{
    margin: 20px 0 10px 0;
    width: 100%;
    padding: 10px;
    color: white;
    border: none;
    cursor: pointer;
    box-sizing: border-box;    
    background-color: #4CAF50;
    &:hover{
      background-color: #008a07;
    }    
  }
  .buttonCreate{
    background-color: #007bffc4;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    color: white;
    border: none;
    cursor: pointer;
    box-sizing: border-box;    
    &:hover{
      background-color: #0055af;
    }  
  }
}

.form {
  background-color: #fff;
  border: 10px solid gray;
  padding: 20px;
  border-radius: 5px;
  .button{
    background-color: #007bffc4;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    color: white;
    border: none;
    cursor: pointer;
    box-sizing: border-box;    
    &:hover{
      background-color: #0055af;
    }  
  }
  height: 100%;
  margin: 2% auto;
  display: none;
}

.input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.success {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  margin: 10px auto;
  width: 300px;
  border-radius: 5px;
}

.grid-container {
  display: flex;
  align-items: center;
  justify-content: center;

}

.gridCell {
  display: flex;
  border: 3px solid gray; 
  border-radius: 5px;
  margin: 5px;
  height: 200px;  
  cursor: pointer;  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6); 
  align-items: center;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;    
  }
  :hover {
    transition: all .9s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

